.dfsg-free {
    background-color:          #011921;
}

.dfsg-nonfree {
    background-color:          #4c0000;
}

pre.sane {
    white-space:      pre-wrap;
    white-space:      -moz-pre-wrap;
    white-space:      -pre-wrap;
    white-space:      -o-pre-wrap;
    word-wrap:        break-word;
}

table.infopage {
    float:            right;
    width:            200px;
}
