{% extends "base.html" %}

{% block title %}{{license.title}}{% endblock %}

{% block slug %}
{{license.title}}
{% endblock %}

{% block main %}
<h1>{{license.slug}}</h1>

<h2>Debian Packages with this License</h2>
It's important to decide if a license is <i>truely</i> DFSG free by looking
if it's been accepted by the <a href = 'http://ftp-master.debian.org/'
    >ftp-master</a>. Otherwise, everything else is just a guess.<br />
<br />
This license is in the following packages:

<ul>
{% for package in license.packages %}
    <li><a
        href = 'http://packages.qa.debian.org/common/index.html?src={{package}}'
    >pts:{{package}}</a></li>
{% endfor %}
</ul>

<h2>Compat-matrix</h2>

{% endblock %}
