{% extends "base.html" %}

{% block title %}{{license.title}}{% endblock %}

{% block logo %}
<div class = 'logo' >
    <img id = 'logo'
    {% if license.copyleft %}
        src = '{{url_for('static', filename='imgs/copyleft.png')}}'
        alt = 'copyleft'
    {% else %}
        src = '{{url_for('static', filename='imgs/copyright.png')}}'
        alt = 'copyright'
    {% endif %} />
</div>
{% endblock %}

{% block slug %}
{{license.title}}
{% endblock %}

{% block dfsg_class %}
    {% if license.status.dfsg %}
        dfsg-free
    {% else %}
        dfsg-nonfree
    {% endif %}
{% endblock %}

{% block main %}

<table class = 'infopage' >
{% for inf in info %}
    <tr>
        <td>{{ info[inf] }}</td>
        <td>
    {% if inf in license.status %}
        {% if license.status[inf] %}
            <img
                src = '{{ url_for('static', filename='imgs/good.png') }}'
                alt = '✓'
            />
        </td>
        <td>
        {% else %}
            <img
                src = '{{ url_for('static', filename='imgs/bad.png') }}'
                alt = 'x'
            />
        </td>
        <td>
            {{license.excuses[inf]}}
        {% endif %}
    {% else %}
            <img
                src = '{{ url_for('static', filename='imgs/unknown.png') }}'
                alt = 'x'
            />
        </td>
        <td>
            {{license.excuses[inf]}}
    {% endif %}
        </td>
    </tr>
{% endfor %}
    <tr>
        <td>FTP-Approved</td>
        <td>{% if license.packages != [] %}
            <img
                src = '{{ url_for('static', filename='imgs/good.png') }}'
                alt = 'x'
            />
        {% else %}
            <img
                src = '{{ url_for('static', filename='imgs/bad.png') }}'
                alt = 'x'
            />
        {% endif %}</td>
    </tr>
</table>

<h2>{{license.name}}</h2>

{{descr}}<br />
<br />
<h2>Related Licenses</h2>

{% for parent in parents %}
    {% for l in parent.related %}
        <a href = '/license/{{l}}' >{{l}}</a>
    {% endfor %}
{% endfor %}

<ul>
{% for citation in license.citations %}
    <li><a href = '{{citation}}' >{{citation}}</a></li>
{% endfor %}
</ul>

{% if license.dissent %}
    <h2>Dissenting opinion</h2>
    <pre class = 'sane' >{{license.dissent}}</pre>
{% endif %}

{% endblock %}
