{% extends "base.html" %}

{% block title %}{{license.title}}{% endblock %}

{% block logo %}
<div class = 'logo' >
    <img id = 'logo'
    {% if license.copyleft %}
        src = '{{url_for('static', filename='imgs/copyleft.svg')}}'
        alt = 'copyleft'
    {% else %}
        src = '{{url_for('static', filename='imgs/copyright.svg')}}'
        alt = 'copyright'
    {% endif %} />
</div>
{% endblock %}

{% block slug %}
{{license.title}}
{% endblock %}

{% block dfsg_class %}
    {% if license.status.dfsg %}
        dfsg-free
    {% else %}
        dfsg-nonfree
    {% endif %}
{% endblock %}

{% block main %}
<h1>{{license.slug}}</h1>

<h2>Debian Packages with this License</h2>
It's important to decide if a license is <i>truely</i> DFSG free by looking
if it's been accepted by the <a href = 'http://ftp-master.debian.org/'
    >ftp-master</a>. Otherwise, everything else is just a guess.<br />
<br />
This license is in the following packages:

<ul>
{% for package in license.packages %}
    <li><a
        href = 'http://packages.qa.debian.org/common/index.html?src={{package}}'
    >{{package}}</a></li>
{% endfor %}
</ul>

<h2>Compat-matrix</h2>

<table>
{% for inf in info %}
    <tr>
        <td>{{ info[inf] }}</td>
        <td>
    {% if inf in license.status %}
        {% if license.status[inf] %}
            <img
                src = '{{ url_for('static', filename='imgs/good.png') }}'
                alt = '✓'
            />
        </td>
        <td>
        {% else %}
            <img
                src = '{{ url_for('static', filename='imgs/bad.png') }}'
                alt = 'x'
            />
        </td>
        <td>
            {{license.excuses[inf]}}
        {% endif %}
    {% else %}
            <img
                src = '{{ url_for('static', filename='imgs/unknown.png') }}'
                alt = 'x'
            />
        </td>
        <td>
            {{license.excuses[inf]}}
    {% endif %}
{% endfor %}
        </td>
    </tr>
</table>

{% if license.dissent %}
    <h2>Dissenting opinion</h2>
    <pre class = 'sane' >{{license.dissent}}</pre>
{% endif %}

{% endblock %}
