{% extends "base.html" %}

{% block title %}Licenses{% endblock %}

{% block slug %}
License List
{% endblock %}

{% block main %}
<table>
{% for license in licenses %}
    <tr>
        <td><a href = '/license/{{license._id}}/' >{{license.name}}</a></td>
        {% if "dfsg" in license.status %}
            {% if license.status.dfsg %}
            <td>DFSG Free</td>
            {% else %}
            <td>non-free</td>
            {% endif %}
        {% else %}
            <td>disambiguation</td>
        {% endif %}
    </tr>
{% endfor %}
</table>
{% endblock %}
